

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1600px) {
    .timkiem2{
        display: none;
    }
   
}

@media (min-width: 992px) and (max-width: 1199px) {
    .book_room h1 {
        font-size: 28px;
    }
    .carousel-indicators {
        bottom: 17px;
    }
    .about_img {
        margin-right: 0px;
    }

    .nav-link{
        font-size: 14px !important;
    }
    .book_room2{
        left: 50% !important;
        transform:  translate(-50%,0) !important;
    }
    .gallery {
        height: 450px !important;
    }
    .timkiem2{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }

    .book_room2{
        left: 50% !important;
        transform:  translate(-50%,0) !important;
    }
    .gallery {
        height: 450px !important;
    }

    .search_room_btn{
        width: 107px;
        
    }

    .about {
        display: none;
    }

    /* .gallery {
        display: none;
    } */

    .footer .row h3 {
        font-size: 17px;
    }
    .manage {
        width: 100%;
    }

    .rs_screen{
        display: block !important;
    }

    .our_room .room{
        display: flex;
    }

    .our_room .room .room_img{
        height: 100% !important;
    }

     .our_room .room .row_img>figure{
        height: unset;

     }

     /* FOOTER */
     .ft{
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
     }

     .blog_box {
        display: flex;
        align-items: center;
     }

     .blog_box .blog_img {
        width: 100%;
        height: 100%;
     }

     .blog_box .blog_img > figure{
        height: 100%;
     }
     .blog_box .blog_img > figure > img {
        object-fit: cover;
     }
}

@media (min-width: 576px) and (max-width: 767px) {
  .nav-item {width:100%}
    .carousel-item img {
        min-height: 570px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about .titlepage {
        max-width: inherit;
    }
    .about_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 5px !important;
    }
    .navigation .navbar-collapse {
        background: white;
        padding: 0 0px 31px 16px;
        align-items: baseline;
        position: absolute;
        width: 100%;
        top: 59%;
        right: -43%;
        margin-right: 20px;
        z-index: 999;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
    }
    .btn-group{margin-top:20px}
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: black;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 9px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .timkiem2{
        display: none;
    }
   
  
}

@media (max-width: 575px) {
    .book_room2{
        display: none;
    }
    .logo {
        text-align: center !important;
        /* padding-bottom: 6px; */
        float: left;
     
            width: 70%;
        
    }
  
    .carousel-item img {
        min-height: 500px;
    }
    .book_room h1 {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 15px;
    }
    .book_now .online_book {
        margin-bottom: 20px;
    }
    .book_btn {
        padding: 5px 0;
    }
    .about .titlepage {
        max-width: inherit;
    }
    .about_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .btn-group{margin-top:20px}
    .nav-item {width:100%}
    .navigation .navbar-collapse {
        background: white;
        padding: 20px 0px 30px 8px;
        align-items: baseline;
       margin-top: -5px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
        /* display:block; */
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: black;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        border: inherit;
        margin-top: -61px;
    }
    .testimonial_box {
        padding: 0px 19px 40px 20px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
    .book_now2 .online_book3 {
        width: 40%;
        margin-left: 5%;
         
     }
     .book_now2 .online_book4 {
        width: 40%;
        margin-left: 55%;
        margin-top: -21%;
         
     }
     .book_now2 .online_book5 {
        width: 40%;
        margin-top: -3%;
        margin-left: 5%;

         
     }
     .book_now2 .online_book6 {
        width: 40%;
        margin-left: 55%;
        margin-top: -21%;
         
     }
    .book_now2 .online_book7 {
       width: 40%;
       margin-top: -3%;
       margin-left: 5%;
        
    }
    .search_room_btn{
        width: 40%;
        margin-left: 55%;
        margin-top: -18%;
        width: 37%;
        border-radius: 5px;

    }
    .timkiem{
        width: 80%;
    }
    .timkiem2{
        width: 360px;
        margin-left: -1%;
    }
    .timkiemrow{
        padding-top: 20px;
    }
    .btn-search{
        margin-left: 80%;
        margin-top: -10.5%;
    }
    .first-slide {
        width: 100%;
        height: 100px;
       
    }
    
    .second-slide {
        width: 100%;
        
        height: 100px;
    }
    
    .third-slide {
        width: 100%;
        
        height: 100px;
    }
    
    
}


