.navbar{
    position: relative;
    display: block;  
    width: 100%;
    max-height: 50%;
    line-height: 2;
    background-color: white;
}

.nav-top{
    flex-grow: 1 !important;
    background-color: #0d3380;
    height: 80px;
}

.nav-top img{
    width: 150px;
    height: 50px;
    padding: 0 0 5px 50px;
}

.nav-top-logout{
    float: right;
    margin: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1.1rem;
    padding-left: 1rem;
}

.nav-link{
    color: #0d3380;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #FFC72B;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #FFC72B;
}

.content{
    padding: 30px;
    width: 100%;
    max-height: 100%;
    background-color:whitesmoke;
    box-shadow: 0 0 10px 0 gainsboro;
}
.col{
    margin: 10px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.postcard{
    font-weight: bold;
    font-size: 20px;
    background-color: aqua;
}

.chart{
    margin-left: 120px;
}

.postcard-i{
    margin-right: 50px;
    margin-top: 50px;
    font-size: 50px;
}

.post{
    font-weight: bold;
    font-size: 20px;
    background-color: aquamarine;
}

.category{
    font-weight: bold;
    font-size: 20px;
    background-color:bisque;
}

.interior{
    font-weight: bold;
    font-size: 20px;
    background-color: blue;
}

.comment{
    font-weight: bold;
    font-size: 20px;
    background-color: chocolate;
}

.user{
    font-weight: bold;
    font-size: 20px;
    background-color: cornflowerblue;
}

.content .add-post{
    max-height: 100%;
    padding: 20px;
    border-style: inset;
    border-radius: 10px;
    background-color:white;
}

.footer{
    max-width: 100%;
    text-align: center;
    font-weight: bold;
    color: #0d3380;
    margin: 30px;
    padding: 30px;
    border-top: 2px solid gainsboro;
}
