button{
    background-color: #0D3380;
    color: yellow;
}.follow{
    color: black;
    margin-top: 40px;
    margin-left: 10px;
}.name{
    
     margin-left: 40px;
     color: black;
     font-size: 30px;
}